<h1>About</h1>

<div class="imgcontainer">
    <img src="https://picsum.photos/id/5/200/300" width="200px" height="300px" float="left"/>
</div>

<p>Welcome to BlogMate! I created this blog because I wanted a space where I can write about anything.
     Feel free to peruse through the blog posts to see what I've written recently. Leave a comment here to let me know you've visited! Cheers!</p>
<br>
<p>-Raven</p>