
<!-- It doesn't look how I wanted it to, but it DOES work. You can see the new comment entries when you view the database entries. -->

<!-- <h3>Comments: </h3>
        <p><%= commentData %></p>  Commenting this part out so that the general public can't see it from the live (deployed) version. Uncomment it to see it work on screen.
          -->

<form action="/add-comment/<%= commentData._id %>?_method=POST" method="POST">

    <label for="body"><b>Leave a Comment:</b></label>
    <textarea name="body"><%= newComment.body %></textarea>

    <input type="submit" value="Add Comment" class="btn">
</form>